<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/Dog_Profile.css">
        
        <title>{{ dog.Name }} Details</title>
    </head>

    <body>

        <ul id="SideNav">
            <li><a href="{{ url_for('Account_Creation') }}">Account Creation</a></li>
            <li><a href="{{ url_for('sign_in') }}">Sign In</a></li>
            <li><a href="{{ url_for('home') }}">Your Profile</a></li>
            <li><a href="{{ url_for('Dog_Listing') }}">Dog Listings</a></li>
            <li><a href="{{ url_for('Delete_Profile')}}">Delete Profile</a></li>
            
        </ul>

        <div style="margin-left:15%;padding:1px 20px;height:1000px;">

            <header>
                <h1>{{ dog.Name }} Details</h1>
                <p>Name: {{ dog.Name }}</p>
            </header>
            <img id="dogImage" src="{{ dog.Image }}" alt="{{ dog.Name }} Image">
            <p>Trainability: {{dog.Trainability}}</p><br>
            <p>Energy: {{dog.Energy}}</p><br>
            <p>Shedding: {{dog.Shedding}}</p><br>
            <p>Grooming: {{dog.Grooming}}</p><br>
            <p>Barking: {{dog.Barking}}</p><br>
            <p>Size: {{dog.Size}}</p><br>
            
            <p>YouTube Video: <a href="{{ dog.You_Tube_Link }}" target="_blank">Watch on YouTube</a></p>
            <iframe width="560" height="315" src="{{ dog.You_Tube_Link }}" frameborder="0" allowfullscreen></iframe>
            <p>Wiki Page: <a href="{{ dog.Wiki_Page }}" target="_blank">Visit Wikipedia For This Dog</a></p><br><br><br><br>
        </div>

    </body>
</html>
<!--Sources-->
<!--Creation of the Menu Navigation Bar was in help from this website: https://www.w3schools.com/css/css_navbar.asp -->
<!--Chatgpt helped me with figuring out that I would need to place the words /static/ next to my css source files to make the css files connect with my html files correctly-->
<!--Chatgpt helped me with figuring out how to use Jinja syntax with my html files-->
<!--Chatgpt helped me with figuring out how to get hyperlinks to send you to specific websites and image sources-->
