<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HomePage</title>
    </head>

    <body>
        <div class="container">
            <h1>Welcome</h1>
            <p>{{ user_id }}</p>
            <br>
            <p>{{ user_name }}</p>
            <br>
            <p>{{ user_type }}</p>
            <br>
            <p>{{ display_name }}</p>
            <br>
        </div>
    </body>
</html>
