<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HomePage</title>
    </head>

    <body>
        <div class="banner">
            <h1>Welcome</h1>
        </div>
        
        <div class="container">
            <p>{{ user_id }}</p>
            <br>
            <p>{{ user_name }}</p>
            <br>
            <p>{{ user_type }}</p>
            <br>
            <p>{{ display_name }}</p>
            <br>
            <form action="{{ url_for('logout') }}" method="POST" style="display: inline-block;">
                <button type="submit" class="btn btn-primary" value="Logout">Logout</button>
            </form>
        </div>
    </body>
</html>