<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Signup Page</title>
    </head>
    <body>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <div class="container">
            <h1>Signup Page</h1>
                {% if form %}
                    <p>Please signup below</p>
                    <form method = "post" >
                        {{form.hidden_tag()}}
                        {{form.user_type.label}} {{form.user_type}}
                        <br>
                        {{form.user_name.label}} {{form.user_name}}
                        <br>
                        {{form.password.label}} <input type="password" name="{{form.password.name}}">
                        <br>
                        {{form.confirm_password.label}} <input type="password" name="{{form.confirm_password.name}}">
                        <br>
                        {{form.display_name.label}} {{form.display_name}}
                        <br>
                        {{form.submit}}                        
                    </form>
                    <p>Already have an account? <a href="{{ url_for('login') }}">Log in here</a>.</p>
                {% else %}
                    <h1>Thank you for signing up!</h1>
                    <p>Your account has been created successfully.</p>
                    <p>Welcome!</p>
                    <a href="/login">Back to Login</a>
                {% endif %}
            </div>
        </div>
    </body>
</html>