<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TA</title>
</head>
<body>
    <div class="container">
        <p>Welcome, {{ session['user_name'] }}!</p>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h3>Add Class</h3>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.classname.label }}: {{ form.classname() }}
            </div>
            <div>
                {{ form.monday.label }}: {{ form.monday() }}
            </div>
            <div>
                {{ form.tuesday.label }}: {{ form.tuesday() }}
            </div>
            <div>
                {{ form.wednesday.label }}: {{ form.wednesday() }}
            </div>
            <div>
                {{ form.thursday.label }}: {{ form.thursday() }}
            </div>
            <div>
                {{ form.friday.label }}: {{ form.friday() }}
            </div>
            <button type="submit">Add Class</button>
        </form>
        
        <h3>Enrolled Classes</h3>
        {% if enrolled_classes %}
            <ul>
                {% for enrolled_class in enrolled_classes %}
                    <li>{{ enrolled_class.classname }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No classes enrolled yet.</p>
        {% endif %}

        <h3>TA Availability</h3>
        {% if ta_availability %}
        <ul>
            <li>Monday: {% if ta_availability.monday %}Available{% else %}Not Available{% endif %}</li>
            <li>Tuesday: {% if ta_availability.tuesday %}Available{% else %}Not Available{% endif %}</li>
            <li>Wednesday: {% if ta_availability.wednesday %}Available{% else %}Not Available{% endif %}</li>
            <li>Thursday: {% if ta_availability.thursday %}Available{% else %}Not Available{% endif %}</li>
            <li>Friday: {% if ta_availability.friday %}Available{% else %}Not Available{% endif %}</li>
        </ul>
        {% else %}
            <p>No availability set yet.</p>
        {% endif %}

        <form action="{{ url_for('logout') }}" method="POST" style="display: inline-block;">
            <button type="submit" class="btn btn-primary" value="Logout">Logout</button>
        </form>
    </div>
</body>
</html>


