<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/Home.css">
        <title>Home</title>
    </head>
    <body>
        <script src="main.js" defer></script>
        <ul id="SideNav">
            <li><a href="Account_Creation.html">Account Creation</a></li>
            <li><a href="Sign_In.html">Sign In</a></li>
            <li><a href="Home.html">Your Profile</a></li>
            <li><a href="Dog_Listing.html">Dog Listings</a></li>
            <li><a href="Delete_Profile.html">Delete Profile</a></li>
            
        </ul>
        <div style="margin-left:15%;padding:1px 20px;height:1000px;">
            <header>
                <h1>Pet Finder Quiz</h1>
                <h2>Hello {{username}}! Welcome to Pet Selector!</h2>
            </header>
            <ol id = "YourListOfDogs">
                <p id="YourDogs">Your Dogs</p>
                {%for x in top_5_dogs%}
                <li>
                    <a href="/dog/{{loop.index}}">{{x.Name}}</a>
                </li>
                {% endfor %}
            </ol>
            <p id="UserLoggedIn">Signed in: {{username}} {{username2}}</p>
            <p>Please fill out the form below so we can get some info on what type of dog you would like to have!</p>
            <p>Anything you submit will be saved to your profile. You can return to your findings on your profile page.</p>

            <form action="/Dog_Form" method="POST" id="Dog_Form">
                <p>How much trainability would you want your dog to have?</p>
                
                <input type="radio" name="trainability" value="Highly Trainable">
                <label for="Highly_Trainable">Highly Trainable</label><br>
                <input type="radio" name="trainability" value="Moderately Trainable">
                <label for="Moderately_Trainable">Moderately Trainable</label><br>
                <input type="radio" name="trainability" value="Less Trainable">
                <label for="Less_Trainable">Less Trainable</label><br>
                <br><br>
                <input type="submit" name="Submit_Option" value="Submit My Type of Trainability!">
            </form>

            <form action="/Dog_Form2" method="POST" id="Dog_Form2">
                <p>How much energy would you want your dog to have?</p>
                <input type="radio" name="energy" value="High Energy">
                <label for="High_Energy">High Energy</label><br>
                <input type="radio" name="energy" value="Moderate Energy">
                <label for="Moderate_Energy">Moderate Energy</label><br>
                <input type="radio" name="energy" value="Low Energy">
                <label for="Low_Energy">Low Energy</label><br>
                <br><br>
                <input type="submit" name="Submit_Option" value="Submit My Type of Energy!">
            </form>

            <form action="/Dog_Form3" method="POST" id="Dog_Form3">
                <p>How much shedding would you want your dog to have?</p>
                <input type="radio" name="shedding" value="High Shedding">
                <label for="High_Shedding">High Shedding</label><br>
                <input type="radio" name="shedding" value="Moderate Shedding">
                <label for="Moderate_Energy">Moderate Shedding</label><br>
                <input type="radio" name="shedding" value="Low Shedding">
                <label for="Low_Shedding">Low Shedding</label><br>
                <br><br>
                <input type="submit" name="Submit_Option" value="Submit My Type of Shedding!">
            </form>

            <form action="/Dog_Form4" method="POST" id="Dog_Form4">
                <p>How much grooming would you want your dog to have?</p>
                <input type="radio" name="grooming" value="Once a month">
                <label for="Once_A_Month">Once a month</label><br>
                <input type="radio" name="grooming" value="Once a week">
                <label for="Once_A_Week">Once a week</label><br>
                <input type="radio" name="grooming" value="Once a day">
                <label for="Once_A_Day">Once a day</label><br>
                <br><br>
                <input type="submit" name="Submit_Option" value="Submit My Type of Grooming!">
            </form>

            <form action="/Dog_Form5" method="POST" id="Dog_Form5">
                <p>How much barking would you want your dog to have?</p>
                <input type="radio" name="barking" value="Very vocal">
                <label for="Very_Vocal">Very vocal</label><br>
                <input type="radio" name="barking" value="Some barking">
                <label for="Some_Barking">Some barking</label><br>
                <input type="radio" name="barking" value="Quiet">
                <label for="Quiet">Quiet</label><br>
                <br><br>
                <input type="submit" name="Submit_Option" value="Submit My Type of Barking!">
            </form>

            <form action="/Dog_Form6" method="POST" id="Dog_Form6">
                <p>What size would you want your dog to be?</p>
                <input type="radio" name="size" value="Large">
                <label for="Large">Large</label><br>
                <input type="radio" name="size" value="Medium">
                <label for="Medium">Medium</label><br>
                <input type="radio" name="size" value="Small">
                <label for="Small">Small</label><br>
                <br><br>
                <input type="submit" name="Submit_Option" value="Submit My Type of Size!"><br><br><br><br>
            </form>

        </div>
    </body>
</html>


<!--Sources-->
<!--Creation of the Menu Navigation Bar was in help from this website: https://www.w3schools.com/css/css_navbar.asp -->
<!--Chatgpt helped me with figuring out that I would need to place the words /static/ next to my css source files to make the css files connect with my html files correctly-->
<!--Chatgpt helped me with figuring out how to use Jinja syntax with my html files-->